:root {
    --pageScrollProgress: 0%;
    --bg-color: #101010;
    --primaryTextColor: #7f8188;
    --primaryTextHover: #f9f9f9;
    --color97: #979797;
    --color7A: #7a7a7a;
    --secondaryTextColor: #303236;
    --secondaryBgColor: #171717;
    --accentColor: #ffff;
    --navbarColor: #101010db;
    --footerBgColor: #1e1d1c;
    --floatingNavColor: var(--bg-color);
    --testingBorder: 2px solid red;
    --testingBorder1: 3px solid teal;
    --thinBorder: .2px solid rgba(214, 208, 208, 31%);
    --logoImgSize: 80px;
    --navIconSize: 35px;
    --transition: all 0.3s ease-in-out;
    --smallerFontSize: 12px;
    --smallFontSize: 14px;
    --normalFontSize: 16px;
    --mediumFontSize: 18px;
    --bigFontSize: 20px;
    --biggerFontSize: 25px;
    --font30: 30px;
}

footer {
    /* border: var(--testingBorder1); */
    margin-top: 10rem;
    background-color: var(--footerBgColor);
    transition: var(--transition);
    transition-duration: .8s;
}

footer h3 {
    color: var(--accentColor) !important;
    transition: var(--transition);
    transition-duration: .8s;
}

.footer-links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    justify-items: center;
    /* border: var(--testingBorder); */
}

.footer-links ul {
    /* border: var(--testingBorder1); */
    list-style: none;
    /* height: 100%; */
}

.footer-links ul li:first-child {
    color: var(--color7A);
    font-size: var(--smallerFontSize);
    margin-bottom: 5px;
}

.footer-links ul li a {
    text-decoration: none;
    transition: var(--transition);
    color: var(--primaryTextColor);
    font-size: var(--mediumFontSize);
    text-transform: capitalize;
}

.footer-links ul li a:hover {
    color: var(--primaryTextHover);
}
footer .theme-container{
    /* border: var(--thinBorder); */
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    border-radius: 50%;
    margin-top: -30px;
   position: relative;
   box-shadow: 0 0 5px var(--bg-color);
   transition: var(--transition);
   padding: 15px;
   pointer-events: all;
   cursor: pointer;
   overflow: hidden;

}
.theme-container svg{
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    color: var(--primaryTextColor);
    position: absolute;
    display: grid;
    place-items: center;
    transform: translate(0) rotate(0);
    transition-duration: 1s;
    cursor: pointer;
    /* /* display: none;  */
}
svg.sun{
    color: rgb(195 136 2);
}
svg.moon{
    transform:translateY(18px) translateX(21px) rotate(303deg);
    /* display: none !important; */
}

.lightMode .moon{
    transform: translate(0) rotate(0);
}
.lightMode .sun{
    transform:translateY(18px) translateX(-21px) rotate(303deg);

}




@media (max-width:768px) {
    .footer-links {
        grid-template-columns: 1fr 1fr;
        justify-items: start;
    }
    .theme-container{
        margin-left: 2rem;
        margin-top: 0px !important;
    }

}


