@font-face {
    font-family: 'Manrope';
    src: url("../Asset/FONT/Manrope-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'inter-display';
    src: url("../Asset/FONT/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

:root {
    --pageScrollProgress: 0%;
        --bg-color: #101010;
        --primaryTextColor: #7f8188;
        --primaryTextHover: #f9f9f9;
        --color97: #979797;
        --color7A: #7a7a7a;
        --secondaryTextColor: #303236;
        --secondaryBgColor: #171717;
        --accentColor: #ffff;
        --navbarColor: #101010db;
        --footerBgColor: #1e1d1c;
        --floatingNavColor: var(--bg-color);
        --testingBorder: 2px solid red;
        --testingBorder1: 3px solid teal;
        --thinBorder: .2px solid rgba(214, 208, 208, 31%);
        --logoImgSize: 80px;
        --navIconSize: 35px;
        --transition: all 0.3s ease-in-out;
        --smallerFontSize: 12px;
        --smallFontSize: 14px;
        --normalFontSize: 16px;
        --mediumFontSize: 18px;
        --bigFontSize: 20px;
        --biggerFontSize: 25px;
        --font30: 30px;
}

* {
    font-family: 'inter-display', sans-serif;
    font-family: 'Manrope', sans-serif;
    transition: var(--transition);
    transition-duration: 0.8s;

}

html.lightMode {
    --bg-color: #f9f9f9 !important;
    --secondaryBgColor: #ffffff !important;
    --navbarColor: #ffffffd9 !important;
    --footerBgColor: #f1f1f1 !important;
    --floatingNavColor: var(--bg-color) !important;
    --primaryTextColor: #2b2b2b !important;
    --primaryTextHover: #000000 !important;
    --secondaryTextColor: #5a5a5a !important;
    --color97: #a0a0a0 !important;
    --color7A: #7a7a7a !important;
    --accentColor: #0059ff !important;
    --testingBorder: 2px solid red !important;
    --testingBorder1: 3px solid teal !important;
    --thinBorder: 0.2px solid rgba(60, 60, 60, 0.15) !important;
}

body{
    background-color: var(--bg-color) !important;
    transition: var(--transition);
    transition-duration: .8s;
}


.navbar {
    background-color: var(--navbarColor);
    backdrop-filter: blur(6px);
    transition: var(--transition);
    transition-duration: .8s;
    /* transition-timing-function: cubic-bezier(.42, 0, .44, 1.68); */
    /* height: fit-content; */
    /* padding: 0 !important; */
}

.logo img {
    /* border: var(--testingiBorder1); */
    width: var(--logoImgSize);
    height: var(--logoImgSize);
    aspect-ratio: 1/1;
}


.floating-nav {
    background-color: var(--floatingNavColor);
    backdrop-filter: blur(5px);
    transition: var(--transition);
    border: var(--thinBorder);
    padding-block: 3px;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
    box-shadow: 0 0 1px var(--primaryTextColor);
    gap: clamp(10px, 30px, 40px) !important;

}

.hovericon {
    width: var(--navIconSize);
    height: var(--navIconSize);
    color: var(--secondaryTextColor);
    pointer-events: none;
}

.custom_progress {
    width: calc(var(--navIconSize) - 2px);
    aspect-ratio: 1;
    background: conic-gradient(var(--primaryTextColor) var(--pageScrollProgress), var(--secondaryTextColor)0%);
    border-radius: 50%;
    pointer-events: none;
    transition: var(--transition);
    transition-duration: .8s;
    /* transition-property: --pageScrollProgress; */
    /* transition-duration: 1s; */
    /* transform: rotateX(360deg); */
}
[class="lightMode"] .custom_progress {
    background: conic-gradient(rgb(46, 43, 43) var(--pageScrollProgress),
            rgba(0, 0, 0, 0.1) 0%) !important;
}



.custom_progress::after {
    content: "";
    top: 0;
    left: 0;
    width: calc(100% - var(--navIconSize) / 3);
    aspect-ratio: 1;
    border-radius: inherit;
    background-color: var(--floatingNavColor);
    transition: var(--transition);
    /* transition-duration: .8s; */
}



.nav-ul {
    width: 0;
    transform: scaleX(0);
    opacity: 0;
    overflow: hidden;
    transform-origin: center;
    transition: var(--transition);


}

.expandNav {
    opacity: 1;
    width: 246.7px;
    transform: scaleX(1);
}

.floating-nav:hover>ul {
    opacity: 1;
    width: 246.7px;
    /* max-height: 47px; */
    transform: scaleX(1);
}

.nav-link {
    color: var(--primaryTextColor) !important;
    transition: var(--transition) !important;
    /* font-size: var(--mediumFontSize)!important; */
}

.time {
    color: var(--primaryTextColor);
}



.nav-link:hover {
    color: var(--primaryTextHover) !important;
}

@media (max-width:768px) {
    body{
        margin-bottom: 70px;

    }
    .navbar {
        border-radius: 0 !important;
        padding-block: 10px !important;
    }

    .floating-nav {
        padding-inline: 10px !important;
        gap: min(12px, .3%) !important;
    }
}
@media (max-width:500px) {
    .floating-nav{
        gap: min(25px, 3%) !important;

    }
    
}
@media (max-width:350px) {
    .navbar {
        /* padding-inline: 0px !important; */
        border-radius: 0 !important;
        background-color: transparent;
        backdrop-filter: none;
    }

    .floating-nav {
        width: 100%;
        gap: min(10px, 1%) !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
        padding: 5px;

    }

    .nav-ul {
        width: 100% !important;
        opacity: 1 !important;
        transform: scale(1) !important;
        gap: 15px !important;
        justify-content: space-around !important;
    }

    .floating-nav .circle,
    .click-icon {
        display: none !important;
    }


}
@media (max-width:250px) {
    .custom_progress{
        display: none !important;
    }
    
}
